# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Node / misc
node_modules/

# Java / Maven
target/
*.iml
.idea/

# C++ / CMake
build/

# Docker
*.log

# Secrets
.env.local
.env.development
.env.production
secrets/